* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
 
body {
    padding:20px;
}
 
a{
    text-decoration: none;
    color: white;
}
 
img {
    width: 80px;
    border-radius: 50%;
}
 
.content .card-1{
    display: flex;
    gap: 10px;
    align-items:center;
}
 
.content .card {
    display: flex;
    color:white;
    padding:20px;
    background-color:violet;
    flex-direction: column;
    border-radius: 10px;
    gap: 2rem;
}
 
.content {
    display: grid;
    gap: 1rem;
    padding: 20px;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
    border:1px solid black;
}

 
 